<li th:fragment="postPreview(title, date, tags, content, id, user)" class="card mb-3 shadow-sm">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="date">
                <td th:text="${date}" />
            </div>
            <div class="d-flex flex-wrap">
                <tr th:each="tag: ${tags}">
                    <button class="btn btn-secondary mx-1">
                        <td th:text="${tag.name}" />
                    </button>
                </tr>
                
            </div>
        </div>
        <h5 class="card-title">
            <td th:text="${title}" />
        </h5>
        <p>
            <td th:text="${content}" />
        </p>
    
    </div>
    <div class="card-footer d-flex justify-content-between ">
        <div>
            <p class="card-text">
                <a href="#" class="nav-link px-0">Read more</a>
            </p>
        </div>
        
        <div class="p-2">
            Author: <td th:text="${user.username}" />
        </div>
    </div>
</li>