*{
    Font-Family: 'Karla', Sans-Serif;
}

h1, h2, h3, h4 , h5, .btn, .date, .navbar-brand, .nav-link, .nav-item{
    Font-Family: 'Rubik', Sans-Serif;
}

body{
    background: url("/img/whitey.png");
}

.navbar{
    border-radius: 0 0 .70rem .70rem;
}

.scroller{
	position: relative;
    height: calc(90vh - 90px);
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
}

.card{
    border-radius: .70rem;
    border: 0px solid;
}

.post-preview img{
    width:100%;
    height:auto;
}

::-webkit-scrollbar {
width: 20px;
height: 20px;
}
::-webkit-scrollbar-thumb {
background: linear-gradient(13deg, #707070 14%,#969696 60%);
border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
background: linear-gradient(13deg, #8f8f8f 14%,#a1a1a1 38%);
}
::-webkit-scrollbar-track{
background: rgba(0, 0, 0, 0);
border-radius: 10px;
}

@media (max-width: 720px) { 
    
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
}

.post img{
    width: calc(100% - 2em);  
    height: auto;
}



