.scroller{
	position: relative;
    height: calc(90vh - 90px);
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
}
.scroller::-webkit-scrollbar {
    display: none;
}

.card{
    border-radius: .70rem;
    border: 0px solid;
}