<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<head>
  <title>Create Post</title>
</head>
<body>
    <main layout:fragment="content" class="container">

        <div class="col col-md-8 col-lg-6 m-auto justify-content-center row">
            <form id="postForm" action="#" th:action="@{/post/create}" th:object="${post}" enctype="multipart/form-data">
                <div class="col justify-content-center align-items-center">
                    <h2 class="text-center p-3">
                        Edit Post
                    </h2>
                </div>
                <div class="col">
                    <div class="d-flex flex-column">
                        <label class="my-1" for="title">Title</label>
                        <input class="d-none" name="title" th:field="*{id}" th:value="${id}" id="postid"></input>
                        <input class="form-control" name="title" th:field="*{title}" th:value="${title}"></input>
                    <div class="d-flex flex-column">
                        <label class="my-1" for="content">Content</label>
                        <input class="form-control my-1" th:field="*{text}" placeholder="Content" th:value="${text}">
                    </div>
                    <div class="col">
                        <button id="postButton" class="btn btn-primary">Save Post</button>
                    </div>
                </div>
                
            </form>
        </div>
    </main>
    
</body>
<script src="/js/postEdit.js" layout:fragment="script" ></script>

</html>