<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<head>
  <title>Login</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="col col-md-8 col-lg-6 m-auto justify-content-center row">
            <form action="#" th:action="@{/login}" method="post" >
                <div class="col justify-content-center align-items-center">
                    <h2 class="text-center p-3">
                       Login
                    </h2>
                </div>
                <div class="col">
                    <div th:if="${param.error}">
                        <p class="alert alert-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                    </div>
                     
                    <div th:if="${param.logout}">
                        <p class="alert alert-success">You have been logged out.</p>
                    </div>
                    <div class="d-flex flex-column">
                        <label class="my-1" for="location">Username</label>
                        <input class="form-control my-1" type="text" name="username">
                    </div>
                    <div class="d-flex flex-column">
                        <label class="my-1" for="birthday">Password</label>
                        <input class="form-control" name="password" type="password"></input>
                    </div>
                    <!-- <div class="form-check">
                        <input name="remember-me" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Remember Me
                        </label>
                    </div> -->

                    <div class="col my-1">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                </div>
                <div class="col col-md-8 col-lg-6 my-4">
                   <div class="justify-content-center align-items-center d-flex">
                       New user? Register here! <a href="/register" class="btn btn-success mx-2">Register</a>
                   </div>
                </div>
                
            </form>
    </main>
</body>
</html>