<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace=" fragments/head :: head(${title})">
</head>
<body>
    <nav th:replace="fragments/navbar :: navBar">

    </nav>

    <div th:replace="fragments/alerts :: alerts">

    </div>

    <div class="container-fluid container-lg">
        <div class="row m-2">
            <div class="card post p-0">

                <div class="card-header d-flex justify-content-between ">
                    <div class="p-2">
                        <h2 th:text="${post.title}"></h2>
                    </div>
                    
                    <div class="p-2">
                        Author: <td th:text="${post.user.username}" />
                    </div>
                </div>

                <div class="card-body">
                    
                    <h5 class="card-title">
                        <td th:text="${post.title}" />
                    </h5>
                    <p>
                        <td  th:utext="${post.content}" />
                    </p>
                
                </div>
                
                <div class="d-flex justify-content-between card-footer">
    
                    <div class="date">
                        <td th:text="${post.dateCreated}" />
                    </div>
                    <div class="d-flex flex-wrap"> 
    
                        <tr th:each="tag: ${post.tags}">
                            <button class="btn btn-secondary mx-1">
                                <td th:text="${tag.name}" />
                            </button>
                        </tr>
                        
                    </div>
                </div>
                
            </div>

        </div>
    </div>

    <footer th:replace="fragments/footer :: footer">

    </footer>
    
</body>
<script src="js/main.js"></script>
</html>