<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace=" fragments/head :: head(${title})">
</head>
<body>
    <nav th:replace="fragments/navbar :: navBar">

    </nav>

    <div class="container-fluid container-lg p-0 px-md-2">
        <div class="row w-100 justify-content-center">
            <div class="col col-md-8">

                <form class="mx-auto my-3 col col-md-8 row needs-validation form-control" th:action="@{/register}" th:method="post" th:object="${user}">
                    <div class="p-4">
                        <h2 class="text-center">
                            Register
                        </h2>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    
                        </div>
                        
                        <label class="visually-hidden" title="title" aria-labelledby="title">Username</label>
                        <input th:field="*{username}"  class="form-control" placeholder="Username" autofocus="autofocus">
                        
                        <label class="visually-hidden" title="content" aria-labelledby="content"/>Password</label>
                        <input th:field="*{password}" type="password" class="form-control my-2" placeholder="Password" >
                        <label class="visually-hidden" title="content" aria-labelledby="content"/>Password</label>
                        <input th:field="*{password}" type="password" class="form-control my-2" placeholder="Confirm Password" >
                        
                        <label class="visually-hidden" title="userid" aria-labelledby="userid"/>Email</label>
                        <input th:field="*{email}" class="form-control my-2" placeholder="E-Mail" >

                        <input class="btn btn-primary col my-2" type="submit" value="Register" />
                    </div>
    
                </form>
                <!-- Form ends -->
            </div>
            
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer">

    </footer>
    
</body>

</html>